body {
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  
  #video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* 동영상을 배경으로 설정하고, 다른 요소 위에 나타나지 않도록 설정 */
  }
  
  #video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #text-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  #text {
    font-family: "Times New Roman",Times,serif;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 115px;
    color: #4f69a6;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
  }

  #menuicon {
    display: none;
  }
  
  input[id="menuicon"] + label {
    display: block;
    width: 50px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: 15px;
    left: 10px;
  }
  
  input[id="menuicon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    border-radius: 30px;
    background: rgb(137, 156, 174);
    transition: all .35s;
  }
  
  input[id="menuicon"] + label span:nth-child(1){
    top: 0;
  }
  
  input[id="menuicon"] + label span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
  }
  
  input[id="menuicon"] + label span:nth-child(3){
    bottom: 0;
  }

  input[id="menuicon"]:checked + label span:nth-child(1){
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  
  input[id="menuicon"]:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  input[id="menuicon"]:checked + label span:nth-child(3){
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }
  
  div[class="sidebar"]{
    width: 300px;
    height: 100%;
    background: #222 ;
    position: fixed;
    top:0;
    left:-300px;
    z-index: 1;
    transition:all .35s;
  }

  input[id="menuicon"]:checked + label + div {
    left: 0;
  }
  