<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SKYGUIDE - Find Password</title>
</head>
<body>
<h2>SKYGUIDE - Find Password</h2>
<form action="/findPW" method="post">
  <div>
    <h4>ID</h4>
    <input type="email" name="identify" placeholder="ID" required>
  </div>
  <div>
    <h4>Email</h4>
    <input type="email" name="email" placeholder="Email" required>
  </div>
  <div>
    <input type="submit" value="Find Password">
  </div>
</form>
</body>
</html>
