<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>SKYGUIDE</title>
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
<input type="checkbox" id="menuicon">
<label for="menuicon">
    <span></span>
    <span></span>
    <span></span>
</label>

<div class="sidebar">
</div>

<div id="video-container">
    <video id="video" preload="auto" autoplay loop muted>
        <source src="img/night.mp4" type="video/mp4">
    </video>
</div>

<div id="text-container">
    <div id="text">
        SKYGUIDE
        <span th:if="${currentUser != null}">
        <span th:text="'환영합니다, ' + ${currentUser.username} + '님!'"></span>
    </span>
    </div>
</div>
</body>
</html>
